{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe - Unicef Bressuire
{% endblock %}

{% block css %}
<link href="{{ asset('assets/css/effects.css') }}" rel="stylesheet"/> 
<link href="{{ asset('assets/css/account.css') }}" rel="stylesheet"/> 
<link href="{{ asset('assets/css/login-register.css') }}" rel="stylesheet"/> 
{% endblock %}

{% block content %}
	<div class="container col-md-8 offset-md-2 mt-3 mb-5">

		{% if notification == 'success' %}
			<div class="alert alert-success">
				<p>Votre mot de passe a bien été mis à jour !</p>
			</div>
		{% elseif notification == 'error' %}
			<div class="alert alert-danger">
				<p>Votre mot de passe actuel est incorrect ! Veuillez réessayer.</p>
			</div>
		{% endif %}

		<h2>Modifiez votre mot de passe</h2>

		<div class="col-md-6 offset-md-1 mt-4 authForm" id="passwordForm">
			{{ form_start(form) }}
			{{ form_row(form.email) }}
			{{ form_row(form.old_password) }}
			{{ form_row(form.new_password) }}
			<div class="text-end">
				{{ form_row(form.submit) }}
			</div>
			{{ form_end(form) }}
		</div>
	{% endblock %}
